* {
  height: auto;
  width: 100%;
  resize: both;
  font-family: "Calibre", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  line-height: 1.25cm;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  /* margin: 0 auto;
  outline: solid black 1px; */
}

/* @@@@@@@@@@TOP SCROLL BAR@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.scroll {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  font-family: "Calibre", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}

.scroll img {
  padding-top: 15px;
}

.scroll a {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  color: grey;
}

.scroll a {
  opacity: 100%;
  color: grey;
}

.scroll a:hover {
  color: blue;
}

/* 11111111111111     TOP IMAGE & STORY       111111111111111111111111111111111111111 */

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: auto;
  background-image: url("./lokai/images/LOKAI/mount.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#storyB h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

#storyB {
  height: 300px;
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: ; */
}

#storyB button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: black;
  color: white;
}

#storyB a {
  color: white;
}

#storyB a:hover {
  color: black;
}

#storyB button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
}

/* 2222222222222222222222222   NEW KEITH HARING COLLECTION   2222222222222222222222222222222222222 */

.row2 h1 {
  display: flex;
  justify-content: center;
  font-size: 62px;
}

.row2 h3 {
  display: flex;
  justify-content: center;
}

.row2 button {
  height: auto;
  width: 300px;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 75px;
  border: none;
  background-color: white;
}

.row2 button:hover {
  transform: perspective(300px) translateZ(60px);
}

#ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
}

#price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 172px;
}

.row2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}
.row2 a {
  opacity: 100%;
  color: grey;
}

.row2 a:hover {
  color: blue;
}

#storyC {
  height: 300px;
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#storyC button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
}

#storyC button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: black;
  color: white;
}

/* 333333333333333333333            NEW ARRIVALS      3333333333333333333333333333333333333 */

.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: auto;
  background-image: url("./lokai/images/LOKAI/hands.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.row3 a {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#NA h1 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#NA {
  height: 300px;
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
/* 
#NA a {
  color: white;
}

#NA a:hover {
  color: black;
} */

#NA button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
}

#NA button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

/* 44444444444444444444         CLASSIC LOKAI        4444444444444444444444444 */

.row4 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: auto;
  background-image: url("./lokai/images/LOKAI/bracbckg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.row4 a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#CL h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#CL a {
  color: blue;
}

#CL a:hover {
  color: black;
}

/* 555555555555555555555555            CAUSE COLLECTION          5555555555555555555555555555555 */

.DD {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.DD .row5 {
  width: 48%;
  height: auto;
  background-image: url("./lokai/images/LOKAI/handsup.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  text-align: center;
}

.DD .row5 a {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#half-width1 h1 {
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

#half-width1 {
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

#half-width1 button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
}

#half-width1 button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: black;
  color: white;
}

/* 66666666666666666666          STONE AND METAL COLLECTION         66666666666666666 */

.row6 {
  flex-direction: row;
  width: 48%;
  background-image: url("./lokai/images/LOKAI/onefist.png");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  text-align: center;
}

.row6 a {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#half-width2 h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

#half-width2 {
  height: 300px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

#half-width2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
}

#half-width2 button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: black;
  color: white;
}

/* 7777777777777777777777777         SUSTAINABILITY          77777777777777777777777777777 */

.row7 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 800px;
  width: auto;
  background-image: url("./lokai/images/LOKAI/ocean.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.row7 a {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#story h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

#storyD {
  height: 300px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

#storyD button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
}

#storyD button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  background-color: black;
  color: white;
}

/* 88888888888888888888888888888888              FOOTER              8888888888888888888888888888888888 */

.footL {
  padding: 20px 40px;
  font-size: 10px;
  width: 400px;
  height: 300px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Follow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Follow #icons {
  height: 10px;
  width: 10px;
  flex-direction: row;
}

.footR {
  height: 300px;
  width: 400px;
  flex-direction: column;
  font-size: 15px;
  display: inline-block;
  justify-content: center;
  align-items: flex-end;
}
